::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #009ffd 0%, #2a2a72 100%);
  border-radius: 6px;
}

body {
  cursor: url(../img/cursor/cursor.png) 16 16, auto;
  background-color: #cec5fa;
  background-position: top center;
  background-size: cover;
}

img {
  max-width: 100%;
  height: auto;
}

.container-image {
  margin: auto;
  width: 500px;
  padding: 10px;
}

/* .certificate {
  display: flex;
  justify-content: center;
  align-items: center;
} */
