body {
  background-color: #cec5fa;
  background-position: top center;
  background-size: cover;
}

img {
  max-width: 100%;
  height: auto;
}

.container-image {
  margin: auto;
  width: 500px;
  padding: 10px;
}

/* .certificate {
  display: flex;
  justify-content: center;
  align-items: center;
} */
