body {
  background-image: url(/img/background/bg1.jpg);
  background-position: top center;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

#littledown {
  margin-top: 120px;
}

#bottomfoot {
  margin-top: 50px;
}

.contact-form {
  margin-top: 100px;
}

.contact-title span {
  font-size: 18px;
  color: white;
  margin-bottom: 10px;
  display: block;
  font-weight: 700;
}

.contact-title h2 {
  font-size: 36px;
  margin-bottom: 15px;
  color: white;
}

.contact-form input {
  width: 100%;
  padding: 20px;
  margin-bottom: 25px;
  border: 0;
  outline: none;
  border-radius: 5px;
  background: white;
}

.contact-form textarea {
  width: 100%;
  height: 100%;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  background: white;
  outline: none;
}

.contact-btn button {
  margin-top: 50px;
  border: 0;
  padding: 15px 35px;
  font-size: 22px;
  border-radius: 5px;
  background-image: linear-gradient(90deg, #009ffd 0%, #2a2a72 100%);
  color: white;
  transition: 0.3s ease-in-out;
}

.contact-btn button:hover {
  background-image: linear-gradient(90deg, #2a2a72 0%, #009ffd 100%);
}
